<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Acerca de Super Rentals</h2>
  <p>
    El sitio Super Rentals es un proyecto creado para explorar Ember.
    Al construir un sitio de alquiler de propiedades, simultaneamente podemos imaginarnos viajando y construyendo aplicaciones Ember.
  </p>
  {{#link-to "contact" class="button"}}
    Contact Us
  {{/link-to}}  
</div>